.p-5 {
    padding: 1.25rem;
}

.shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.shadow-black {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
}

.hover\:shadow-2xl:hover {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); 
}


.order-card-container {
    display: flex;
    cursor: pointer;
  }


 
  .order-card-image {
    width: 5rem; 
    height: 5rem; 
    object-fit: cover; 
    object-position: top; 
  }
  
  
  .order-card-text {
    margin-left: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px; 
    margin-bottom: 0.5rem;
  }
  
  
  .order-card-description {
    font-size: 1rem; 
    color: #374151; 
    margin-bottom: 0.25rem;
  }
  .opacity-50 {
    opacity: 0.5;
    margin-bottom: 0.5rem;
}

.text-xs {
    font-size: 0.75rem; 
}

.font-semibold {
    font-weight: 600; 
}
.text-green-600 {
    color: #16a34a; 
}

.mr-2 {
    margin-right: 0.5rem;
} 


.text-sm {
    font-size: 0.875rem;
} 


  